html{
  background: url('img/formNewBG.jpeg')no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:960px;
  margin: auto; 
  } 
h1{
  font-size: 2em;
  color: white;
  padding-top: 2em;
  letter-spacing: 0.1em;
}
legend{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  padding-top: .5em;
  letter-spacing: 0.1em;
}
.car{
  font-size: 1.5em;
  padding: .50em;
  color:white;
  overflow: visible;
  font-family: 'Times New Roman', Times, serif;
  padding: 1em;
}
.my-list{
  font-size: 1.5em;
  padding: .50em;
  color: white;
  overflow: visible;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  padding: 1em;
  padding-left: 2em;
  display: inline-block;
  letter-spacing: 0.1em;
}
ul li{ 
  padding-left: 2em;
  font-stretch: expanded;
  color:rgb(84, 252, 243);
  list-style-type: disc;
  letter-spacing: 0.1em;
  line-height: 1.5;
  font-size: 1.5em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
button{
  margin-left: 2em;
  margin-bottom:  2em;
  display:table-row;
  background-color: rgb(8, 119, 23);
  color: white;
}
.clear{
  margin-left: 2em;
  margin-bottom: 2em;
  float: right;
}
.form-info{
  list-style-type: disc;
} 
.houseInfo{
  background-color: rgba(241, 241, 241, 0.644);
  padding:1em;
  line-height: 1.5;
  letter-spacing: 0.1em;
  border-radius: 1em;
  font-size: 1.5em;
  font-weight: bold;
}
.car{
  background-color: rgba(241, 241, 241, 0.644);
  padding:1em;
  letter-spacing: 0.1em;
  border-radius: 1em;
  font-size: 1.5em;
  font-weight: bold;
}
.my-list{
  background-color: rgba(241, 241, 241, 0.644);
  padding:1em;
  letter-spacing: 0.1em;
  border-radius: 1em;
  font-size: 1.5em;
  font-weight: bold;

}
#my-list li label{
    display: table;
}
.carbon-footprints{
  height: 9em;
  padding-bottom: 3em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}		
body{
  background-image:  url('img/formNewBG.jpeg')no-repeat center center fixed;
	display:ruby-base-container;
  flex-direction:column;
  color: rgba(0, 0, 0, 0.74);
  border-radius: 1em;
}		
/* text animation */
svg {
	font-family:Oswald;
  font-weight:bold;
  background-color: rgba(241, 241, 241, 0.644);
  padding:.5em;
}
fieldset{
  border: .2em solid black;
  padding: 2em;
  text-align:center;
  border-radius: 1em;
  margin-bottom: 3em;
  margin-left: 3em;
}

legend {
  color: white;
  font-size: em;
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  padding: 1em;
  border-radius: 1em;

}

label{
  color: black;
  font-size: 1em;
  font-family: 'Times New Roman', Times, serif;
}
#a #home{
  font-size: .5em;
}
#rotating-globe {
    margin: 40px auto;
    position: relative;
    width: 30em;
    height: 30em;
    transform-style: flat;
    backface-visibility: hidden;
    margin-left: 14em;
  }
.globe-rail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ffffff;
    border-radius: 300px;      
}
.globe-cross-1, .globe-cross-2, .globe-cross-3, .globe-cross-4 {
position: absolute;
height: 1px;
width: 80%;
background: #ffffff;
}
.globe-rail:nth-of-type(2) {
transform: rotateY(40deg);
animation: globerail-1 5s infinite;
animation-timing-function: linear;
}
.globe-rail:nth-of-type(3) {
transform: rotateY(60deg);
animation: globerail-2 5s infinite;
animation-timing-function: linear;
}
.globe-rail:nth-of-type(4) {
transform: rotateY(80deg);
animation: globerail-3 5s infinite;
animation-timing-function: linear;
}
.globe-rail:nth-of-type(5) {
transform: rotateY(100deg);
animation: globerail-4 5s infinite;
animation-timing-function: linear;
}
.globe-rail:nth-of-type(6) {
transform: rotateY(120deg);
animation: globerail-5 5s infinite;
animation-timing-function: linear;
}
.globe-rail:nth-of-type(7) {
transform: rotateY(140deg);
animation: globerail-6 5s infinite;
animation-timing-function: linear;
}
.globe-rail:nth-of-type(8) {
transform: rotateY(160deg);
animation: globerail-7 5s infinite;
animation-timing-function: linear;
}
.globe-rail:nth-of-type(9) {
transform: rotateY(180deg);
animation: globerail-8 5s infinite;
animation-timing-function: linear;
}
.globe-rail:nth-of-type(10) {
transform: rotateY(220deg);
animation: globerail-9 5s infinite;
animation-timing-function: linear;
}
.globe-cross-1 {
top: 20%;
left: 10%;
}
.globe-cross-2 {
top: 40%;
left: 2%;
width: 98%;
}
.globe-cross-3 {
top: 60%;
left: 2%;
width: 98%;
}
.globe-cross-4 {
top: 80%;
left: 10%;
}
@keyframes globerail-1 {
from {transform: rotateY(40deg)}
to {transform: rotateY(220deg)}
}
@keyframes globerail-2 {
from {transform: rotateY(60deg)}
to {transform: rotateY(240deg)}
}
@keyframes globerail-3 {
from {transform: rotateY(80deg)}
to {transform: rotateY(260deg)}
}
@keyframes globerail-4 {
from {transform: rotateY(100deg)}
to {transform: rotateY(280deg)}
}
@keyframes globerail-5 {
from {transform: rotateY(120deg)}
to {transform: rotateY(300deg)}
}
@keyframes globerail-6 {
from {transform: rotateY(140deg)}
to {transform: rotateY(320deg)}
}
@keyframes globerail-7 {
from {transform: rotateY(160deg)}
to {transform: rotateY(340deg)}
}
@keyframes globerail-8 {
from {transform: rotateY(180deg)}
to {transform: rotateY(360deg)}
}
@keyframes globerail-9 {
from {transform: rotateY(200deg)}
to {transform: rotateY(380deg)}
}
a {
  color: white;
  font-size: 1em;
  float: right;
}



/* /////////////////////
/* Charts */
/* ///////////////////// */

#displayResults {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    display: inline-block;    
    max-width: 500px;
}

/* /////////////////////
/* Power Plant */
/* ///////////////////// */

#powerPlant {
    position: absolute;
    margin-top: 500px;
    margin-left: 00px;
    width: 100px;
  }

  .myChartDiv {
    margin-left: 00px;
    display: inline-block;   
    position: absolute;
    max-width: 400px;
    max-height: 800px;
  }

#smoke {
	position: absolute;
	z-index: 3;
	width: 1px; height: 160px;
  left: 50%; bottom: 30px;
} 
#smoke1 {
  position: absolute;
  z-index: 3;
  width: 1px; height: 160px;
  left: 50%; bottom: 30px;
}

/* smoke balls */

#smoke span { 
  display: inline-block;
	position: absolute;
	bottom: -35px; left: 50%; margin-right:556px; margin-top: 400px;
	height: 0px; width: 0px;
	border: 30px solid #ffffff;
	border-radius: 30px;
	left: -14px; opacity: 0;
  transform: scale(0.2);
  z-index: -1;
}
#smoke1 span { 
  display: block;
	position: absolute;
	bottom: -35px; left: 50%; margin-left:289px; margin-bottom: 0px;
	height: 0px; width: 0px;
	border: 30px solid #ffffff;
	border-radius: 30px;
	left: -14px; opacity: 0;
  transform: scale(0.2);
  z-index: -1;
}

/* Smoke animation */

@keyframes smokeL {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
	100% { opacity: 0; transform: scale(1) translate(40px, -130px) }
}

@keyframes smokeR {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
	100% { opacity: 0; transform: scale(1) translate(80px, -130px) }
}

@keyframes smokeL1 {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
	100% { opacity: 0; transform: scale(1) translate(40px, -130px) }
}

@keyframes smokeR1 {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
	100% { opacity: 0; transform: scale(1) translate(80px, -130px) }
}

#smoke .s0 { animation: smokeL 10s 0s infinite }
#smoke .s1 { animation: smokeR 10s 1s infinite }
#smoke .s2 { animation: smokeL 10s 2s infinite }
#smoke .s3 { animation: smokeR 10s 3s infinite }
#smoke .s4 { animation: smokeL 10s 4s infinite }
#smoke .s5 { animation: smokeR 10s 5s infinite }
#smoke .s6 { animation: smokeL 10s 6s infinite }
#smoke .s7 { animation: smokeR 10s 7s infinite }
#smoke .s8 { animation: smokeL 10s 8s infinite }
#smoke .s9 { animation: smokeR 10s 9s infinite }
#smoke1 .s10 { animation: smokeL1 10s 0s infinite }
#smoke1 .s11 { animation: smokeR1 10s 1s infinite }
#smoke1 .s12 { animation: smokeL1 10s 2s infinite }
#smoke1 .s13 { animation: smokeR1 10s 3s infinite }
#smoke1 .s14 { animation: smokeL1 10s 4s infinite }
#smoke1 .s15 { animation: smokeR1 10s 5s infinite }
#smoke1 .s16 { animation: smokeL1 10s 6s infinite }
#smoke1 .s17 { animation: smokeR1 10s 7s infinite }
#smoke1 .s18 { animation: smokeL1 10s 8s infinite }
#smoke1 .s19 { animation: smokeR1 10s 9s infinite }