/* ENTIRE PAGE */

.bg-img {
    /* Background Image */
    background-image: url("img/carbon-chimney.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
    min-height: 653px;
  
    /* Needed to position the navbar */
    position: relative;
  }
    /* Gray rectangle for white text overlay */
  .grayshape {
    position: fixed;
    bottom: 12em;
    right: 25em;
  }
  
  /* Navbar container inside the image */
  .container {
    overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  }
  
  /* Navbar */
  .topnav {
    overflow: hidden;
  }
  
  /* Navbar links */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
