/* Background Image */

html { 
  background: url(img/main.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  width:960px;
  margin: auto;
}
  
h1 {
  color: #a3d5f1;
  font-size: 9em;
  width: 9em;
  font-family: sans-serif;
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  
}

/* Centered Text */
p {
  color: #ffffff;
  font-size: 1.4em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: sans-serif;
  z-index: 1;
}
    
button{
  height:35px; 
  width:150px; 
  background: #0bc2fa;
  color: #fff;
  border-radius: 3px;
  font-size: 20px;
  text-align: center;
  margin-left:410px;
  margin-top: 100px;
  margin-bottom: 100px;
  animation:button 5s;
  -webkit-animation:button 5s infinite;
}

footer {
  margin-top: 8%;
}

nav {
  margin-left: 85%;
}

a{
  color: white;
  font-size: 1.5em;
  bottom: 200px;
  margin-left: 20px;
  text-decoration: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  animation:nav 5s;
  -webkit-animation:nav 5s infinite;
}

a:hover {
  color: #66db5b;
  transition-duration: 1000ms;
}
#counter{
  margin-top: 50px;
  font-weight: bolder;
  text-align: center;
}

@-webkit-keyframes button {
  0% {background:#0bc2fa;}
  50% {background:#66db5b;}
  100% {background:#0bc2fa;}
}
